@import "../../node_modules/bootstrap/scss/functions";
@import '../variables';

$dot-color: theme-color('primary');

.pagination-dots {
    line-height: 0;
    text-align: center;
    padding: $spacer;

    .page-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: lighten($dot-color, 30%);
        display: inline-block;
        margin: 0 2px;

        &.active {
            background-color: $dot-color;
        }
    }
}
