@import "../../node_modules/bootstrap/scss/functions";
@import '../variables';

$star-color: theme-color('primary');

.star-rating {
    line-height: 0;
    text-align: center;
    padding: $spacer;

    .star {
        width: 22px;
        height: 22px;
        line-height: 22px;
        color: lighten($star-color, 30%);
        display: inline-block;
        margin: 0 2px;

        &.highlight {
            color: $star-color;
        }
    }

    &.hovering {

        .star {

            &.highlight {
                color: theme-color('success');
            }
        }
    }
}
