@import "../../node_modules/bootstrap/scss/functions";
@import '../variables';

.menu {
    background-color: theme-color('primary');
    color: $white;
    height: 100vh;

    .menu-header {
        background-color: lighten(theme-color('primary'), 30%);
        padding: $spacer;

        img {
            margin-right: $spacer;
        }
    }

    ul {
        padding-left: 0;

        .menu-item {
            border-bottom-color: rgba($white, .3);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            list-style: none;
            padding: $spacer $spacer/2;
            font-size: .9rem;

            .fa {
                margin: 0 $spacer 0 $spacer/2;
                opacity: .4;
            }
        }
    }
}
