@import "../../node_modules/bootstrap/scss/functions";
@import '../variables';

.profile-card {

    .card {
        overflow: hidden;
    }

    .card-subtitle {
        text-transform: uppercase;
    }

    .offer-banner {
        text-transform: uppercase;
        transform: rotate(-35deg);
        position: absolute;
        top: 50px;
        left: -35px;
        width: 270px;
        padding: 5px 0;
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: $small-font-size;

        &.offer-banner-accepted {
            background-color: darken(theme-color('success'), 10%);
            color: $white;
        }

        &.offer-banner-rejected {
            background-color: darken(theme-color('danger'), 10%);
            color: $white;
        }

        &.offer-banner-sent {
            background-color: theme-color('warning');
            color: $gray-900;
        }
    }
}
